@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    scroll-behavior: smooth;
    font-family: Roboto Condensed;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    width: 150px !important;
}

.hero-normal {
    padding: 40px;
}

.hero-head {
    background-image: url('https://cdn.discordapp.com/attachments/1071401485239332864/1157900671799001138/aquaV2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lefted {
    text-align: left;
}

.usage {
    color: gray !important;
}

.hero-end {
    background-image: url('https://cdn.discordapp.com/attachments/1071401485239332864/1157726961943199784/Story.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}