@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    scroll-behavior: smooth;
    font-family: Roboto Condensed;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    width: 150px !important;
}

.hero-normal {
    padding: 40px;
}

.hero-head {
    background-image: url('./assets/background/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lefted {
    text-align: left;
}

.usage {
    color: gray !important;
}

.hero-tap {
    background-image: url('./assets/background/header-tap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-grass {
    background-image: url('./assets/background/content-grass.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-music {
    background-image: url('./assets/background/content-spalsh.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-command {
    background-image: url('./assets/background/content-command.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}